

# Ignore environment variables file
.env
*.env


# Ignore test coverage reports
/coverage

# Ignore IDE and editor folders/files
/.idea/

# Ignore node modules
/node_modules

# Ignore node_modules anywhere
**/node_modules
# Ignore certificate files
*.pem

postgres
/c#_api/.vs
/c#_api/bin/Debug/net8.0

*.swp
*.*~
project.lock.json
.DS_Store
*.pyc

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
msbuild.log
msbuild.err
msbuild.wrn